:root {
  --black: #000000;
  --white: #ffffff;
  --orange: #ef7300;
  --red: #ef0000;
  --green: #008000;
  --blue: #1976d2;

  --grey-100: #f7f8fb;
  --grey-200: #e4e7ec;
  --grey-300: #dddfe4;
  --grey-400: #bec0c6;
  --grey-600: #667085;
  --grey-800: #23252c;
  --grey-900: #101828;

  --grey-700-alpha-50: rgb(53, 53, 53, 0.5);
}
